
/* Basis CSS */

html, 
body {
  padding: 0;
  margin: 0;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sofia Pro;
  line-height: 1.3;
  font-weight: 650; }

p {
  font-family: Sofia Pro;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400; }

h1 {
  color: #000000;
  font-size: 72px;
}  

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h6 {
  color: #ffffff;
  font-size: 25px;
}

.footer-blauw p {
  color: #ffffff;
}


img {
  height: auto;
  max-width: 100%; }


/* Einde basis CSS */  






/* Header */

   .navbar {
  z-index: 99999;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  padding: 0.8rem 5rem 0.8rem;
}

.navbar-brand img {
  max-height: 60px;
}

.nav-link img {
  height: 60px;
  vertical-align: top;
  max-height: 100%;
}

.nav-item a {
  margin-left: 13px;
}

@media (min-width: 992px) {
  .navbar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0;
  }
}

@media (max-width: 1150px) {
  .search-box {
    display: none;
  }

}

.search-box {
  margin-left: 13px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #398197;
  border-radius: 30px;
  padding: 3px;
  float: left;
}

.input-box {
  border: none;
  outline: none;
  background: none;
  float: left;
  padding: 0px;
  color: white;
  font-size: 16px;
  transition: 0.4s all;
  line-height: 30px;
  width: 0;
}

.btn {
  box-sizing: inherit;
  color: white;
  float: right;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  padding: 0;
}

.search-box:hover .input-box {
  width: 150px;
  padding-left: 9px;
}

.search-box:hover .btn {
  background-color: white;
  color: #398197;
  border-radius: 50%;
}

::placeholder {
  color: white;
  opacity: 1;
}

/* Einde header */




    
/* Pagina content */

  .textbox {
    margin-left: 5%;
  }
  
  .textbox p .italicp {
    font-style: italic;
  }

  .textbox h1 {
    font-family: Sofia Pro;
    font-style: italic;
    font-weight: bold;
    font-size: 72px;
    line-height: 101px;
    color: #000000;
  }
  
  .textbox h1 .colorh1 {
    color: #398197;
  }

  .textbox h2 {
    color: #398197;
  }

  .textbox p {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding-top: 2%;
  }
  
  .container-fluid .col-md-7 {
    float: right;
    margin-right: 0;
    padding-right: 0%;
  }
  
.container-fluid .col-md-7 .img-case { 
    overflow: hidden; 
    float: right;
    max-width: 889px;
    filter: drop-shadow(4px 4px 8px rgba(60, 60, 60, 0.2));
    border-radius: 40px 0px 0px 40px;
}

.ontmoeten {
    background-color: #FCCD04;
    border-color: none;
    text-decoration: none;
    border: 2px;
    text-align: center;
    font-style: normal;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 4%;
    padding: auto;
    width: 159px;
    height: 42px;
    box-shadow: 4px 4px 8px rgba(60, 60, 60, 0.2);
    border-radius: 10px;
}

.ontmoeten p {
    color: #ffffff;
    font-size: 18px;
}

.col-md-6 .img-case-left {
  overflow: hidden; 
  float: left;
  width: 100%;
  filter: drop-shadow(4px 4px 8px rgba(60, 60, 60, 0.2));
  border-radius: 0px 40px 40px 0px;
  margin-right: 0;
  margin-left: 0;
  z-index: -1;
}

.col-md-6 .img-case-right {
  overflow: hidden; 
  float: right;
  width: 100%;
  filter: drop-shadow(4px 4px 8px rgba(60, 60, 60, 0.2));
  border-radius: 40px 0px 0px 40px;
  margin-right: 0;
  margin-left: 0;
  z-index: 0;
}

.ontdekken {
  background-color: #FCCD04;
  border-color: none;
  text-decoration: none;
  border: 2px;
  font-style: normal;
  margin-bottom: 3%;
  width: 1100px;
  height: 81px;
  box-shadow: 4px 4px 8px rgba(60, 60, 60, 0.2);
  border-radius: 40px;
}

.ontdekken p {
  color: #ffffff;
  float: left;
  padding-top: 1.5%;
}

.pijl {
  padding-top: 0.75%;
}


/* Rij 3 */

.textbox-2 {
  margin: 5%;
}

.textbox-2 h2 .italich2 {
  font-style: italic;
}

.textbox-2 p .italicp {
  font-style: italic;
}

.textbox-2 h2 {
  color: #5CACA8;
}

.textbox-2 p {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-top: 3%;
}


.textbox-3 h2 {
  color: #5CACA8;
  margin-bottom: 5%;
}

.textbox-3 p {
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-top: 1%;
}

.container-fluid-3 .col-md-7 {
  float: left;

}

.container-fluid-3 .col-md-5 {
  float: right;
  margin-right: 0;
  padding-right: 0%;
}

/* Rij 4 */

.container-fluid-4 .col-md-6 {
  margin-bottom: 3%;
  margin-top: 2%;
}

.container-fluid-4 .col-md-6 .blue {
  background: #5CACA8;
  border-radius: 0px 40px 40px 0px;
  height: 262px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  box-shadow: 4px 4px 8px rgba(60, 60, 60, 0.2);
}

.container-fluid-4 .col-md-6 .img-case-2 {
  float: right;
  filter: drop-shadow(4px 4px 8px rgba(60, 60, 60, 0.2));
  border-radius: 40px 0px 0px 40px;
}

.textbox-4 {
  color: #ffffff;
}

.studentenbutton {
  align-items: center;
}

.student {
  width: 260px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 4px 4px 8px rgba(60, 60, 60, 0.2);
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

.student p {
  color: #398197;
  font-size: 18px;
  margin-top: 1%;
}

/* Rij 5 */

.container-fluid-5 {
  margin-bottom: 3%;
  margin-top: 0;
}

.container-fluid-5 .col-md-10 .blue2 {
  background: #398197;
  border-radius: 40px 0px 0px 40px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 4px 4px 8px rgba(60, 60, 60, 0.2);
}

.container-fluid-5 .col-md-2 .pijl2 {
  float: left;
  filter: drop-shadow(4px 4px 8px rgba(60, 60, 60, 0.2));
}

.textbox-5 {
  color: #ffffff;
}

.benieuwdbutton {
  align-items: center;
}

.benieuwd {
  width: 272px;
  height: 42px;
  background: #FFFFFF;
  box-shadow: 4px 4px 8px rgba(60, 60, 60, 0.2);
  border-radius: 10px;
  text-decoration: none;
  border: none;
}

.benieuwd p {
  color: #398197;
  font-size: 18px;
  margin-top: 1%;
}


/* Rij 6 */

.bedrijvenvooru h2 {
  color: #398197;
}


.img-case-3 {
  max-width: 88px;
  min-width: 55px;
  box-shadow: 4px 4px 8px rgba(60, 60, 60, 0.2);
}

.img-case-4 {
  max-width: 200px;
  min-width: 162px;
}

.container-fluid-6 .col-md-6 h3 {
  font-weight: lighter;
  color: #398197;
}

.container-fluid-6 {
  margin-bottom: 1%;
}



/* Einde pagina content */






/* Footer */

.container-fluid-footer {
    background-color: #398197;
  }
  
  .footer-text {
    color: #ffffff;
    font-size: 24px;
  }
  
  .footer-paragraph-1 {
    color: #ffffff;
    font-size: 18px;
  }
  
  .col-sm-2 a {
    color: #398197;
    text-decoration: none;
  }
  
  .col-sm-2 a:hover {
    color:#FCCD04;
    transition: 0.3s ease-out;
  }
  
  .col-sm-6 {
    color:#398197;
  }
  
  
 
/* @media spullen */ 

  
@media (min-width: 800px) {
  .textbox {
    margin-top: 7%;
  }
  
  .container-fluid-2 {
    margin-top: 3%;
  }

  .container-fluid {
    margin-top: 7%;
  }

  .container-fluid .ontmoetenbutton .ontmoeten {
    margin-left: 30%;
  }

  .container-fluid .textbox {
    margin-left: 30%;
  }

  .col-md-6 .img-case-left {
    height: 625px;
  }

  .col-md-6 .img-case-right {
    height: 525px;
  }

  .onderschrift {
    position: relative;
    height: 165px;
    top: 460px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 40px 0px;
    z-index: 1;
    color: #398197;
  }
  
  .onderschrifttext {
    padding: 15px 0 0 53%;
    position: absolute;
  }
  
  .onderschrifttext h2 {
    font-weight: 700;
  }
  
  .onderschrifttext h4 {
    font-weight: 400;
  }

  .onderschrift2 {
    position: relative;
    height: 165px;
    top: 360px;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 0px 40px;
    z-index: 1;
    color: #398197;
  }
  
  .onderschrifttext2 {
    padding: 15px 0 0 10%;
    position: absolute;
  }
  
  .onderschrifttext2 h2 {
    font-weight: 700;
  }
  
  .onderschrifttext2 h4 {
    font-weight: 400;
  }

  .ontdekken {
    width: 1100px;
    margin-top: 2%;
  }

  .ontdekken p {
    font-size: 24px;
    padding-left: 5%;
  }

  .container-fluid-3 {
    margin: 2.5%;
  }

  .container-fluid-3 .col-md-5 {
    margin-top: 1.5%;
  }

  .container-fluid-5 .col-md-2 .pijl2 {
    margin-top: 15%;
  }

  .container-fluid-5 .col-md-10 .blue2 {
    height: 292px;
  }
  
  .bedrijvenvooru h2 {
    margin-left: 5%;
    margin-bottom: 1.5%;
  }

  .container-fluid-6 .col-md-6 .Grenzeloos {
    margin-top: 1.75%;
  }

  .img-case-3 {
    float: left;
    position: relative;
    margin-left: 15%;
    margin-right: 3%;
  }
  
  .textbox-7 {
    margin-right: 5%;
  }

  .img-case-4 {
    float: left;
    position: relative;
    margin-right: 3%;
    margin-top: 1.5%;
  }

  .container-fluid-footer {
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0.55%;
  }

  .container-fluid-footer .col-sm-2 .imginsta {
    margin-top: 5%;
    margin-left: 70%;
  }

  .container-fluid-bottom {
    margin-top: 0.5%;
    margin-left: 2%;
  }

  .container-fluid-bottom .col-sm-6 .onderdeelvan {
    margin-left: 39%;
  }
}




@media (max-width: 799px) {
  .textbox {
    text-align: center;
    margin-right: 3%;
  }
  
  .textbox-2 {
    margin-right: 5%;
    text-align: center;
  }

  .textbox-3 {
    margin-right: 10%;
    text-align: center;
  }

  .container-fluid-2 {
    margin-top: 5%;
  }

  .ontmoeten {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 33%;
  }

  .col-md-6 .img-case-left {
    width: 100%;
    filter: drop-shadow(4px 4px 8px rgba(60, 60, 60, 0.2));
    border-radius: 0px 40px 40px 0px;
    margin-right: 0;
    margin-bottom: 5%;
    z-index: -1;
  }

  .col-md-6 .img-case-right {
    width: 100%;
    max-height: 282.58px;
    filter: drop-shadow(4px 4px 8px rgba(60, 60, 60, 0.2));
    border-radius: 40px 00px 0px 40px;
    margin-left: 0;
    margin-bottom: 5%;
    margin-right: 0;
    z-index: -1;
  }

  .container-fluid-4 .col-md-6 .blue {
    height: 300px;
    padding-right: 15%;
  }

  .ontdekken {
    max-width: 500px;
  }

  .ontdekken p {
    font-size: 18px;
    padding-left: 4%;
    padding-top: 3.2%;
  }

  .pijl {
    padding-right: 5%;
  }


  .onderschrift {
    position: relative;
    height: 120px;
    top: 163px;
    left: 0;
    bottom: 0;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 40px 0px;
    z-index: 1;
    color: #398197;
  }
  
  .onderschrifttext {
    padding: 2px 0 0 25px;
    position: absolute;
  }
  
  .onderschrifttext h2 {
    font-weight: 700;
    font-size: 30px;
  }
  
  .onderschrifttext h4 {
    font-weight: 400;
    font-size: 18px;
  }

  .onderschrift2 {
    position: relative;
    height: 120px;
    top: 163px;
    right: 0;
    bottom: 0;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 0px 40px;
    z-index: 1;
    color: #398197;
  }
  
  .onderschrifttext2 {
    padding: 2px 0 0 55px;
    position: absolute;
    text-align: right;
  }
  
  .onderschrifttext2 h2 {
    font-weight: 700;
    font-size: 30px;
  }
  
  .onderschrifttext2 h4 {
    font-weight: 400;
    font-size: 18px;
  }

  .container-fluid-3 .col-md-5 {
    margin: 3%;
  }

  .container-fluid-5 .col-md-2 .pijl2 {
    margin-top: 2%;
  }

  .container-fluid-5 .col-md-10 .blue2 {
    height: fit-content;
    padding-left: 7%;
    padding-bottom: 8%;
    margin-bottom: 2%;
  }

  .bedrijvenvooru {
    text-align: center;
  }

  .img-case-3 {
    margin-left: 38%;
    margin-top: 5%;
  }

  .img-case-4 {
    margin-left: 24%;
    margin-top: 5%;
  }

  .textbox-6 {
    margin-top: 2%;
    text-align: center;
  }
  
  .textbox-7 {
    margin-top: 2%;
    text-align: center;
  }

  .container-fluid-footer {
    text-align: center;
    padding: 5%;
  }

  .container-fluid-bottom {
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
  }
}
